source util/setchplenv.sh
source_env_if_exists ~/envrc
export CHPL_RT_MAX_HEAP_SIZE=100g
#export CHPL_RT_MAX_HEAP_SIZE=72g
#export CHPL_LAUNCHER_CORES_PER_LOCALE=256
export CHPL_LAUNCHER_CORES_PER_LOCALE=128
export CHPL_RT_NUM_THREADS_PER_LOCALE=128
#export CHPL_RT_NUM_THREADS_PER_LOCALE=256
#export CHPL_RT_NUM_THREADS_PER_LOCALE=50
export CHPL_LAUNCHER_PARTITION=epyc7763
export CHPL_LLVM=none
export CHPL_LIBFABRIC=system
export LIBFABRIC_DIR=/scratch/shared/devbootstrap/libfabric/install
#export LIBFABRIC_DIR=/home/users/welchst/debug/hpc-shs-devbootstrap/libfabric/install
export LIBCXI_DIR=/scratch/shared/devbootstrap/libcxi/install
export LD_LIBRARY_PATH="${LIBFABRIC_DIR}/lib:${LIBCXI_DIR}/lib:$LD_LIBRARY_PATH"
export PATH="$LIBFABRIC_DIR/bin:$PATH"

#export CHPL_COMM_DEBUG=1
#export CHPL_RT_COMM_OFI_DEBUG=cfg,prov,prov-hints,prov-all
export CHPL_RT_COMM_OFI_DEBUG=prov
#export CHPL_RT_COMM_OFI_DEBUG=mr,mr-key,mr-desc,rma-write,iface,oob,cfg,prov,prov-hints,prov-all
#export CHPL_RT_COMM_OFI_DEBUG=mr,mr-key,mr-desc
#export CHPL_RT_COMM_OFI_DEBUG=am,amo,rma,ack,am-buf,prov,iface-amo,iface-amo-read,iface-amo-write
#export CHPL_RT_COMM_OFI_DEBUG=slingshot
#export FI_LOG_LEVEL=Warn
#export MAKEFLAGS="OPTIMIZE=0 DEBUG=1"

export CHPL_RT_COMM_OFI_TX_COUNTER=false
export CHPL_RT_COMM_OFI_AM_TX_COUNTER=false
export CHPL_RT_COMM_OFI_AM_RX_COUNTER=false

export CHPL_RT_COMM_OFI_NBAM_THRESHOLD=0
export CHPL_RT_COMM_OFI_NBAM_MAX_BUFFERS=128
export CHPL_RT_COMM_OFI_NBAM_USE_MALLOC=true

#export CHPL_DEVELOPER=true
export CHPL_RT_COMM_OFI_CXI_HYBRID_MR_MODE=true
export CHPL_RT_COMM_OFI_INJECT_AM=false
export CHPL_RT_COMM_OFI_INJECT_AMO=false
export CHPL_RT_COMM_OFI_INJECT_RMA=false

#export FI_CXI_DEFAULT_CQ_SIZE=131072
#export FI_CXI_CTRL_RX_EQ_MAX_SIZE=$((268435456 * 2))
#export FI_UNIVERSE_SIZE=2048
#export CHPL_NETWORK_ATOMICS=none
#export FI_CXI_RX_MATCH_MODE=hybrid
#export FI_CXI_REQ_BUF_SIZE=4194304
#export FI_CXI_RDZV_THRESHOLD=10240

#export QTHREAD_DEBUG_LEVEL=3
#export QT_DEBUG_LEVEL=10
#export QTHREAD_INFO=2
#export CHPL_QTHREAD_TOPOLOGY=hwloc
#export CHPL_HWLOC=none
#export CHPL_QTHREAD_TOPOLOGY=hwloc
#export QT_NUM_WORKERS_PER_SHEPHERD=1
#export CHPL_QTHREAD_MORE_CFG_OPTIONS=--enable-debug=affinity
export CHPL_RT_COMM_OFI_DEDICATED_AMH_CORES=true
#export CFLAGS="-DDEBUG"
export FI_CXI_ATS=true
#export SLURM_HINT=nomultithread
export CHPL_RT_LOCALES_PER_NODE=2
#export SLURM_NETWORK=single_node_vni
export CHPL_RT_COMM_OFI_EP_COUNT=512
#export FI_CXI_DEVICE_NAME=cxi0
export CHPL_TOPO_DEBUG=true
export CHPL_TASKS_DEBUG=true
